<div className="col-6_sm-12 ">
		    			<article>
		    				<h3>Joanna Austen
		    					<Quals> ECBS, MBTPA, ITEC</Quals>
		    				</h3>
		    				<h5>Bowen Technique</h5>
		    				<div title="JonnaAustin-info">
		    					<p>Joanna qualified in 2004 as a Bowen Therapist and has since dedicated herself to this highly effective therapy. She
		    						has run a clinic in Liskeard since that time and in 2011 joined the Therapy Room in Bodmin when it opened.</p>

		    					<p>Joanna has continually developed her understanding and use of the Bowen Technique over the years. Bowen can be used
		    						for any number of problems that people suffer, but primarily people present with Sciatica, Frozen Shoulder, Migraine
		    						or any major back/neck pain. However people also present with many other conditions including stress related issues.</p>
		    				</div>
		    				<div className="links">
		    					<ul>
		    						<li>
		    							<Link to="http://www.naturaltherapypages.co.uk/therapist/joannaausten/12726">Natural Therapy Pages</Link>
		    						</li>
		    						<li>
		    							<Link to="http://www.thebowentechnique.com/">The Bowen Technique</Link>
		    						</li>
		    						<li>
		    							<Link to="http://www.bowen-therapy.co/default.asp">BTPA</Link>
		    						</li>
		    					</ul>
		    				</div>
		    				<div className="prices_availability">
		    					<div className="prices">
		    						<h5>Treatments</h5>
		    						<ul>
		    							<li>Bowen Technique (Initial Appointment): &pound;50 - 50 mins approx</li>
		    							<li>Bowen Technique (Follow Up Appointment): &pound;40 - 40 mins approx</li>
		    						</ul>
		    					</div>
		    				</div>
		    				<div className="availability">
		    					<h5>Availability</h5>
		    					<ul>
		    						<li>Tuesday</li>
		    					</ul>
		    				</div>

		    			</article>
		    		</div>
		    	</div>
		    	<div className="grid team">
		    		<div className="col-6_sm-12  profile">
		    			<article className="team-member">
		    				<h3>Daniel Carter
		    					<Quals> MCFHP, MAFHP</Quals>
		    				</h3>
		    				<h5>Foot Health Professional</h5>
		    				<div title="DanielCarter-info">
		    					<p>Dan Carter is qualified as a Foot Health Professional in 2005 having trained at The S.M.A.E Institute in Maidenhead.</p>

		    					<p>He is experienced in treating a range of common foot problems including corns, calluses and verrucae as well as nail
		    						trimming and nail care.</p>
		    				</div>
		    				<div className="links">
		    					<ul>
		    						<li>
		    							<Link to="http://www.clinicalfootcare.org/">British Association of Foot Health Professionals</Link>
		    						</li>
		    					</ul>
		    				</div>
		    				<div className="prices_availability">
		    					<div className="prices">
		    					</div>
		    					<div className="prices">
		    						<h5>Treatments</h5>
		    						<ul>
		    							<li>General Foot Care: 30 minutes - &pound;27</li>
		    							<li>Toe Nail Trimming: 15 minute - &pound;19</li>
		    						</ul>
		    					</div>
		    				</div>
		    				<div className="availability">
		    					<h5>Availability</h5>
		    					<ul>
		    						<li>Wednesday (am)</li>
		    						<li>Friday (am)</li>
		    					</ul>
		    				</div>
		    			</article>
		    		</div>
		    		<div className="col-6_sm-12 profile ">
		    			<article>
		    				<h3>Matt East
		    					<Quals> BSc Hons</Quals>
		    				</h3>
		    				<h5>Physiotherapist, Bowen Therapy and Integrated Health Practitioner.</h5>
		    				<p>Matt qualified as a physiotherapist in 2000, since then he has trained in a number of different techniques such as
		    					acupuncture, neurological integration and utilises a number of soft tissue remedial bodywork therapies such as the
		    					Bowen technique.</p>
		    				<p>This enables him to tailor each treatment to the individual to help with a wide range of symptoms and health complaints,
		    					providing a natural drug free approach to healthcare where possible.</p>
		    				<div className="links">
		    					<ul>
		    						<li></li>
		    					</ul>
		    				</div>
		    				<div className="prices_availability">
		    					<div className="prices">
		    						<h5>Treatments</h5>
		    						<ul>
		    							<li>Bowen Technique (Initial Appointment): &pound;50 approx 40 mins</li>
		    							<li>Bowen Technique (Follow-Up Appointment): &pound;40 approx 40 mins</li>
		    						</ul>
		    					</div>
		    				</div>
		    				<div className="availability">
		    					<h5>Availability</h5>
		    					<ul>
		    						<li>Thursday</li>
		    					</ul>
		    				</div>
		    			</article>
		    		</div>
		    	</div>
		    	<div className="grid team">
    
		    		<div className="col-6_sm-12 profile">
		    			<article>
		    				<h3>Ana Jackson
		    					<Quals></Quals>
		    				</h3>
		    				<h5>Hypnotherapy, Neuro-linguistic Programming (NLP) and Timeline Therapy</h5>
		    				<p>Ana has been interested in the ways that we all relate to our own unconscious minds since she gained her honours degree
		    					in Psychology, over 25 years ago. She is a certified Master Practitioner in Hypnotherapy, Neuro Linguistic Programming
		    					(NLP) and Timeline Therapy.</p>

		    				<p>Ana uses a range of therapeutic techniques to help each individual gain a better understanding of their own unconscious
		    					mind and how it influences their behaviour. This process enables her clients to take control and deal with a variety
		    					of personal issues in a safe, calm and confidential environment.</p>

		    				<p>Ana prides herself on understanding that common problems often have different causes, depending on each client. From
		    					the initial consultation to the completion of therapy, her strategy will focus on the improvements that you wish to
		    					make in your own life.</p>

		    				<p>Whether you would like to deal with a complex personal issue or simply give up smoking, the treatment will be individually
		    					designed to help you understand and beat the root cause of the problem.</p>

		    				<p>Ana is registered with the UK GHR and bound by their ethics and code of practice. She is fully insured and has an enhanced
		    					CRB clearance.</p>
		    				<div className="links">
		    					<ul>
		    						<li>Email for enquiries
		    							<Link to="mailto:ana.jackson@therapist.net">Ana.jackson@therapist.net</Link>
		    						</li>
		    						<li>
		    							<Link to="https://www.londonhypnotherapists.co.uk">www.londonhypnotherapists.co.uk</Link>
		    						</li>
		    						<li>0120 882 1209</li>
		    						<li>020 7193 9828</li>
		    						<li>07722 674750</li>
		    						<li>If you would like help managing any of these issues, please contact Ana to arrange a free telephone consultation.</li>
		    					</ul>
		    				</div>
		    				<div className="prices_availability">
		    					<div className="prices">
		    						<h5>Training, Qualifications &amp; Experience</h5>
		    						<ul>
		    							<li>BA (Hons) Psychology.</li>
		    							<li>Master Practitioner of Hypnotherapy.</li>
		    							<li>Master Practitioner and NLP Coach.</li>
		    							<li>Timeline Therapist</li>
		    						</ul>
		    					</div>
		    					<div className="availablity links">
		    						<h5>Areas of hypnotherapy I deal with:</h5>
		    						<ul>
		    							<li>
		    								<Link to="http://www.hypnotherapy-directory.org.uk/articles/addictions.html">Addictions</Link>
		    							</li>
		    							<li>
		    								<Link to="http://www.hypnotherapy-directory.org.uk/articles/alcoholabuse.html">Alcohol Abuse</Link>
		    							</li>
		    							<li>
		    								<Link to="http://www.hypnotherapy-directory.org.uk/articles/angermanagement.html">Anger Management</Link>
		    							</li>
		    							<li>
		    								<Link to="http://www.hypnotherapy-directory.org.uk/articles/anxiety.html"></Link>Anxiety</li>
		    							<li>
		    								<Link to="http://www.hypnotherapy-directory.org.uk/articles/depression.html">Depression</Link>
		    							</li>
		    							<li>
		    								<Link to="http://www.hypnotherapy-directory.org.uk/articles/drugabuse.html">Drug Abuse</Link>
		    							</li>
		    							<li>
		    								<Link to="http://www.hypnotherapy-directory.org.uk/articles/drugabuse.html">Eating Disorders</Link>
		    							</li>
		    							<li>
		    								<Link to="http://www.hypnotherapy-directory.org.uk/articles/examnerves.html">Exam Stress</Link>
		    							</li>
		    							<li>
		    								<Link to="http://www.hypnotherapy-directory.org.uk/articles/fearofflying.html">Fear of Flying</Link>
		    							</li>
		    							<li>
		    								<Link to="http://www.hypnotherapy-directory.org.uk/articles/food-addiction.html">Food Addiction</Link>
		    							</li>
		    							<li>
		    								<Link to="http://www.hypnotherapy-directory.org.uk/articles/gambling-addiction.html">Gambling Addiction</Link>
		    							</li>
		    							<li>
		    								<Link to="http://www.hypnotherapy-directory.org.uk/articles/gastric-band.html">Gastric Band Hypnotherapy</Link>
		    							</li>
		    							<li>
		    								<Link to="http://www.hypnotherapy-directory.org.uk/articles/insomnia.html">Insomnia</Link>
		    							</li>
		    							<li>
		    								<Link to="http://www.hypnotherapy-directory.org.uk/articles/selfconfidence.html">Low Self-Confidence</Link>
		    							</li>
		    							<li>
		    								<Link to="http://www.hypnotherapy-directory.org.uk/articles/selfesteem.html">Low Self-Esteem</Link>
		    							</li>
		    							<li>
		    								<Link to="http://www.hypnotherapy-directory.org.uk/articles/obsessionsandcompulsions.html">Obsessions &amp; Compulsions</Link>
		    							</li>
		    							<li>
		    								<Link to="http://www.hypnotherapy-directory.org.uk/articles/pain-management.html">Panic Management</Link>
		    							</li>
		    							<li>
		    								<Link to="http://www.hypnotherapy-directory.org.uk/articles/panicattacks.html">Panic Attacks</Link>
		    							</li>
		    							<li>
		    								<Link to="http://www.hypnotherapy-directory.org.uk/articles/phobias.html">Phobias</Link>
		    							</li>
		    							<li>
		    								<Link to="http://www.hypnotherapy-directory.org.uk/articles/publicspeaking.html">Public Speaking</Link>
		    							</li>
		    							<li>
		    								<Link to="http://www.hypnotherapy-directory.org.uk/articles/smoking.html">Quit Smoking</Link>
		    							</li>
		    							<li>
		    								<Link to="http://www.hypnotherapy-directory.org.uk/articles/relationshipissues.html">Relationship Issues</Link>
		    							</li>
		    							<li>
		    								<Link to="http://www.hypnotherapy-directory.org.uk/articles/relationshipissues.html">Relaxation</Link>
		    							</li>
		    							<li>
		    								<Link to="http://www.hypnotherapy-directory.org.uk/articles/sleep-disorders.html">Sleep Disorders</Link>
		    							</li>
		    							<li>
		    								<Link to="http://www.hypnotherapy-directory.org.uk/articles/sportsperformance.html">Sports Performance</Link>
		    							</li>
		    							<li>
		    								<Link to="http://www.hypnotherapy-directory.org.uk/articles/stress.html">Stress</Link>
		    							</li>
		    							<li>
		    								<Link to="http://www.hypnotherapy-directory.org.uk/articles/stuttering.html">Stuttering</Link>
		    							</li>
		    							<li>
		    								<Link to="http://www.hypnotherapy-directory.org.uk/articles/weightloss.html">Weight Loss</Link>
		    							</li>
		    						</ul>
		    					</div>
		    					<div className="availability">
		    						<h5>Availability</h5>
		    						<ul>
		    							<li>Thursdays</li>
		    						</ul>
		    					</div>
		    				</div>
		    			</article>
		    		</div>
		    		<div className="col-6_sm-12 ">
		    			<article className="team-member">
		    				<h3>Helen Thompson
		    					<Quals></Quals>
		    				</h3>
		    				<h5>Bowen, Reflexology &amp; Massage</h5>
		    				<div title="HelenThompson-info">
		    					<p>Helen qualified as a Reflexologist and Massage Therapist in 2011 from Saltash College and started to build a clinic in Launceston, wanting to find ways to offer more tailored treatments Helen completed additional training in Hot Stone Massage, Indian Head Massage, Deep Tissue Massage and Lymphatic Drainage Massage. Whether it's a remedial treatment or just relaxation you require a treatment can be tailored for you. Helen is a member of the Complementary Therapists Association and also a qualified Bowen Therapist.</p>
		    				</div>
		    				<div className="links">
		    				</div>
		    				<div className="prices_availability">
		    					<div className="prices">
		    						<h5>Treatments</h5>
		    						<ul>
		    							<li>Bowen Therapy - &pound;40</li>
		    							<li>Reflexology: 45 minutes - &pound;35</li>
		    						</ul>
		    					</div>
		    					<div className="prices">
		    						<h5>Remedial /therapeutic massage</h5>
		    						<ul>
		    							<Quals>including hot stone massage, deep tissue, manual lymphatic drainage, pregnancy massage:</Quals>
		    								<li>Full body: 1hr - &pound;40</li>
		    								<li>Back, Neck and Shoulders: 30mins - &pound;25</li>
		    								<li>Feet &amp; Lower Legs: 30mins - &pound;25</li>
		    								<li>Indian Head Massage: 30mins - &pound;25</li>
		    								<li>Longer treatments are available on request.</li>
		    							</ul>
    
		    					</div>
		    				</div>
		    				<div className="availability">
		    					<h5>Availability</h5>
		    					<ul>
		    						<li>Tuesday</li>
		    					</ul>
		    				</div>
		    			</article>
		    		</div>